.page-header {
    text-align: left;
    font-family: Jaro, sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    min-height: calc(100vh );
    width: 80%;
}

.page-header img {
    width: 15rem;
    margin: 5rem 0;
    border-radius: 50%;
}

.page-header h1 {
    font-size: 120px;
}
.page-header h2 {
    font-size: 60px;
}
