.page-header {
    position: relative;
    text-align: left;
    font-family: Jaro, sans-serif;
    background-image: url("../../assets/snow-mountains.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    padding-inline: 10%;
}

/* Fade at the bottom of header */
.page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* height of fade */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--background-color) 80%);
    pointer-events: none;
}

.page-header img {
    width: 15rem;
    margin: 5rem 0;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.page-header h1 {
    font-size: 120px;
}

.page-header h2 {
    font-size: 60px;
}