
.sidebar {
    background-color: rgba(168, 168, 168, 0.943);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    box-sizing: border-box;
    height: 100vh;
    min-width: fit-content;
    width: var(--sidebar-width);
    padding: 1rem;

    display: none;
}

.sidebar .logo {
    width: 8rem;
}

.sidebar .table-of-contents a {
    font-size: 1.3rem;
    font-family: 'Inknut Antiqua';

    /* display: inline-block;
    transition: transform 0.2s linear; */
}

.sidebar .table-of-contents a:hover {
    transform: scale(1.06);
}

.sidebar .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .sidebar {
        flex-direction: row;
        gap: 1rem;

        height: auto;
        width: 100%;
    }

    .sidebar .logo {
        width: 6rem;
    }

    .sidebar .table-of-contents {
        display: none;
    }

    .sidebar .socials {
        gap: 1.5rem;

        margin-left: auto;
    }
}