
.sidebar {
    background-color: var(--primary-color);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    box-sizing: border-box;
    height: 100vh;
    width: var(--sidebar-width);
    padding: .5rem;

    position: fixed;
}

.sidebar .logo {
    width: 100%;
}

.sidebar p {
    font-family: Jaro;
    font-size: 26px;
    margin: 0;
}

.sidebar .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .sidebar {
        flex-direction: row;
        gap: 1rem;

        height: auto;
        width: 100%;
    }

    .sidebar .logo {
        width: 6rem;
    }

    .sidebar .table-of-contents {
        display: none;
    }

    .sidebar .socials {
        flex-direction: row;
        gap: 1.5rem;

        margin-left: auto;
    }
}