
.sidebar {
    background-color: rgba(168, 168, 168, 0.943);

    position: fixed;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    box-sizing: border-box;
    height: 100vh;
    width: 15%;
    padding: 1rem;
}

.sidebar .logo {
    box-sizing: border-box;
    width: 8rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5rem;
}

.sidebar .table-of-contents a {
    color: #000;

    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Inknut Antiqua';

    display: inline-block;
    transition: transform 0.2s linear;
}

.sidebar .table-of-contents a:hover {
    transform: scale(1.06);
}

.sidebar .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    width: calc(100% - 2rem);
}