#activities ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.activity {
    background-color: bisque;
    
    background-size: cover;
    background-position: center;

    width: 400px;
    height: 200px;
    border-radius: 3px;

    position: relative;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.activity p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0;
    
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#activities .prit {
    rotate: 3deg;
}

#activities .equalit {
    rotate: -2deg;
}

#activities .fikit {
    rotate: -2deg;
}

#activities .smurf {
    width: 200px;
    height: 300px;
    rotate: 2deg;
}