
.ligthbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);

    z-index: 100;
}

.contact-card {
    background-color: var(--primary-color);
    position:absolute;
    top: 50vh;
    left: 50vw;

    width: 450px;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotate(3deg);
}

.contact-card .underlined {
    text-decoration:  underline;
    text-underline-offset: 8px;
}

.contact-card ul {
    list-style: none;
    padding: 0;
}

.contact-card li {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 15px;
}

.contact-card li img {
    width: 50px;
    border-radius: 20px;
    padding: 10px;
}

