#root {
    display: flex;
    flex-direction: row;

    position: relative;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    box-sizing: border-box;
    width: 100%;
    margin-left: var(--sidebar-width);
}

section {
    width: 80%;
}


/* Generic classes */

.no-list-style {
    list-style: none;
    padding: 0;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}


.link-underline {
    text-decoration: none;
    position: relative;
}

.link-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0;
    height: 2px;
    background-color: #379255;

    transition: width 0.3s ease;
}

.link-underline:hover::after {
    width: 100%;
}

.hexagon {
    background-color: var(--secondary-color);
    clip-path: polygon(
        50% 0%,       /* top middle */
        93% 25%,      /* top right */
        93% 75%,      /* bottom right */
        50% 100%,     /* bottom middle */
        7% 75%,       /* bottom left */
        7% 25%        /* top left */
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    article {
        width: 100%;
        padding-inline: 1rem;
        margin-left: 0;
    }

    section h1 {
        margin: 5rem auto 1rem auto;
    }

    section h2 {
        font-size: 1.5rem;
    }
}