#root {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    box-sizing: border-box;
    padding-inline: 2rem;
    
    overflow-y: auto;
    flex: 1;
}

section {
    width: 100%;
}

section h1 {
    width: fit-content;
    margin: 10rem auto 1rem 5rem;
}

section div {
    margin-bottom: 2rem;
}

section h2, section h3 {
    white-space: pre-line;
    word-break: break-word;
    max-width: 950px;
    margin: 0 auto;
}

section ul {
    text-align: left;

    max-width: 520px;
    margin-inline: auto;
}



/* Generic classes */

.no-list-style {
    list-style: none;
    padding: 0;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}


.link-underline {
    text-decoration: none;
    position: relative;
}

.link-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0;
    height: 2px;
    background-color: #379255;

    transition: width 0.3s ease;
}

.link-underline:hover::after {
    width: 100%;
}


@media screen and (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    article {
        width: 100%;
        padding-inline: 1rem;
        margin-left: 0;
    }

    section h1 {
        margin: 5rem auto 1rem auto;
    }

    section h2 {
        font-size: 1.5rem;
    }
}