@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Jaro */
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

:root {
    --background-color: #EAE0D5;
    --primary-color: #C6AC8F;
    --secondary-color: #5E503F;
}


body {
    background-color: rgb(25, 171, 69);
    background-image: url("assets/snow-mountains.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    

    font-family: "Inknut Antiqua", serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-weight: normal;

    margin: 0;
}

h1, h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-family: "segoe-ui", "Noto Sans", sans-serif;
    font-size: 1rem;
}