@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Jaro */
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --background-color: #EAE0D5;
    --primary-color: #C6AC8F;
    --secondary-color: #5E503F;

    --text-color-1: #080A08;
    --text-color-2: #22333b;
    --text-color-3: #ffffff;

    --sidebar-width: 120px;
}


body {
    background-color: var(--background-color);
    /* background-image: url("assets/snow-mountains.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    

    font-family: Cairo, serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-weight: normal;

    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-family: "segoe-ui", "Noto Sans", sans-serif;
    font-size: 22px;
}